@model List<CAF.JBS.ViewModels.BillingSumMonthlyVM>

@{
    ViewData["Title"] = "Home Page";
}
<div class="container" style="margin: auto; padding: 20px;">

    <h2>Summary Billing</h2>
    <br />
    <br />
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th rowspan="2" style="text-align:center;vertical-align:middle;">Billing Type</th>
                <th class="bg-primary" colspan="4" style="text-align:center">Count</th>
                <th class="bg-primary" colspan="4" style="text-align:center">Amount</th>
                <th rowspan="2" style="text-align:center;vertical-align:middle;">Last Update</th>
            </tr>
            <tr>
                <th>UnPaid</th>
                <th>Cancel</th>
                <th>Paid</th>
                <th>Total</th>
                <th>UnPaid</th>
                <th>Cancel</th>
                <th>Paid</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < 4; i++)
            {
                <tr>
                    <td>@Model[i].DashName</td>
                    <td style="text-align:right;">@Model[i].UnPaidCount.ToString("#,###")</td>
                    <td style="text-align:right;">@Model[i].CancelCount.ToString("#,###")</td>
                    <td style="text-align:right;">@Model[i].PaidCount.ToString("#,###")</td>
                    <td style="text-align:right;" class="success">@Model[i].TotalCount.ToString("#,###")</td>

                    <td style="text-align:right;">@Model[i].UnPaidAmount.ToString("#,###")</td>
                    <td style="text-align:right;">@Model[i].CancelAmount.ToString("#,###")</td>
                    <td style="text-align:right;">@Model[i].PaidAmount.ToString("#,###")</td>
                    <td style="text-align:right;" class="success">@Model[i].TotalAmount.ToString("#,###")</td>

                    <td style="text-align:center;">@Model[i].DateUpdate.Value.ToString("dd MMM yyyy hh:mm:ss")</td>
                </tr>
            }
            
        </tbody>
    </table>

    <br /><br /><br />

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th rowspan="2" style="text-align:center;vertical-align:middle;">Payment Method</th>
                <th class="bg-primary" colspan="4" style="text-align:center">Count</th>
                <th class="bg-primary" colspan="4" style="text-align:center">Amount</th>
                <th rowspan="2" style="text-align:center;vertical-align:middle;">Last Update</th>
            </tr>
            <tr>
                <th>UnPaid</th>
                <th>Cancel</th>
                <th>Paid</th>
                <th>Total</th>
                <th>UnPaid</th>
                <th>Cancel</th>
                <th>Paid</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 4; i < Model.Count; i++)
            {
                <tr>
                    <td>@Model[i].DashName</td>
                    <td style="text-align:right;">@Model[i].UnPaidCount.ToString("#,###")</td>
                    <td style="text-align:right;">@Model[i].CancelCount.ToString("#,###")</td>
                    <td style="text-align:right;">@Model[i].PaidCount.ToString("#,###")</td>
                    <td style="text-align:right;" class="success">@Model[i].TotalCount.ToString("#,###")</td>

                    <td style="text-align:right;">@Model[i].UnPaidAmount.ToString("#,###")</td>
                    <td style="text-align:right;">@Model[i].CancelAmount.ToString("#,###")</td>
                    <td style="text-align:right;">@Model[i].PaidAmount.ToString("#,###")</td>
                    <td style="text-align:right;" class="success">@Model[i].TotalAmount.ToString("#,###")</td>

                    <td style="text-align:center;">@Model[i].DateUpdate.Value.ToString("dd MMM yyyy hh:mm:ss")</td>
                </tr>
            }
        </tbody>
    </table>
</div>