@model CAF.JBS.ViewModels.PolicyAddPayment


@{
    ViewData["Title"] = "Add Payment Bank Transfer";
}

<script>
    $(document).ready(function () {
        $('#total').html(jumlahTotal());

        $('#Premi').on('keyup change', function (ev) {
            $('#total').html(jumlahTotal());
        });

        $('#CashLess').on('keyup change', function (ev) {
            $('#total').html(jumlahTotal());
        });

        $('#SourcePayment').change(function () {
            var itm = this.value;
            if (itm == 'EDC') {
                $('#tableAddPayment > tbody:last-child').append('<tr id=trApprovalCode><td>ApprCode</td><td><div class="form-group"><div class="col-md-9"><input type="text" name="ApprovalCode" asp-for="ApprovalCode" class="form-control" maxlength="20"/><span asp-validation-for="ApprovalCode" class="text-danger"></span></div></div></td></tr>');
            } else {
                $('tr').parent().parent().find("#trApprovalCode").remove();
            }
        });
    });

    function jumlahTotal() {
        var premi = $('#Premi').val();
        var CashLess = $('#CashLess').val();
        var jlh = parseInt(premi) + parseInt(CashLess);
        return (jlh);
    }

    $("#savedata").on("click", function (e) {
        e.preventDefault();  // prevent standard form submission
        $("#savedata").attr("disabled", true);

        var form = $('#form-edit');
        $.ajax({
            url: form.attr("action"),
            method: form.attr("method"),  // post
            data: form.serialize(),
            success: function (data) {
                if (data.data == true) {
                    $('#myModal').modal('hide');
                    var table = $('#myTable').DataTable();
                    table.ajax.reload(null, false);
                } else {
                    alert(data.message);
                    $("#savedata").attr("disabled", false);
                }
            }
        });
    });
</script>

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header" style="padding:15px;">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            <h4><b>Add Payment </b></h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("AddPayment", "PolicyBilling", FormMethod.Post, new { id = "form-edit" }))
            {
                @Html.ValidationSummary(true)
                @Html.HiddenFor(m => m.PolicyId)
                @Html.HiddenFor(m => m.BillingID)
                @Html.HiddenFor(m => m.PaidAmount)

                <table class="table table-bordered" id="tableAddPayment">
                    <tr>
                        <td>Polis ID</td>
                        <td>@Model.PolicyId</td>
                    </tr>
                    <tr>
                        <td>Polis No</td>
                        <td>@Model.policy_no</td>
                    </tr>
                    <tr>
                        <td>Commence Date</td>
                        <td>@Model.CommenceDate.ToString("dd MMM yyyy")</td>
                    </tr>
                    <tr>
                        <td>Due Date</td>
                        <td>@Model.DueDate.ToString("dd MMM yyyy")</td>
                    </tr>

                    <tr>
                        <td>Product</td>
                        <td>@Model.ProductDesc</td>
                    </tr>
                    <tr>
                        <td>Status Polis</td>
                        <td>@Model.StatusPolis</td>
                    </tr>
                    <tr>
                        <td>Holder Name</td>
                        <td>@Model.HolderName</td>
                    </tr>
                    <tr>
                        <td>Payment Frequent</td>
                        <td>@Model.PremiumMode Month</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="label-primary"></td>
                    </tr>
                    <tr>
                        <td>BillingID</td>
                        <td>@Model.BillingID</td>
                    </tr>
                    <tr>
                        <td><b>Due Date Pre</b></td>
                        <td><b>@Model.Due_date_pre.ToString("dd MMM yyyy")</b></td>
                    </tr>
                    <tr>
                        <td>Reguler Premium</td>
                        <td>@Model.Premi.ToString("#,#")</td>
                    </tr>
                    <tr>
                        <td>CashLessFee Amount</td>
                        <td>@Model.CashLess.ToString("#,#")</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td><label id="total" />@Model.PaidAmount.ToString("#,#")</td>
                    </tr>
                    <tr>
                        <td>Paid Date</td>
                        <td>
                            <div class="form-group">
                                <div class="col-md-9">
                                    <input asp-for="PaidDate" type="date" class="form-control" />
                                    <span asp-validation-for="PaidDate" class="text-danger"></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Payment Source</td>
                        <td>
                            @Html.DropDownListFor(m => m.SourcePayment, new SelectList(
                  new List<Object>{
                       new { value = "BT" , text = "Bank Transfer" },
                       new { value = "EDC" , text = "EDC"},
                       new { value = "CP" , text = "Claim Payment"}
                    }, "value", "text", Model.SourcePayment), new { @class = "form-control" })
                        </td>
                    </tr>
                </table>

                <div class="form-group" style="text-align:right;">
                    <input type="button" value="save" class="btn btn-success" id="savedata" />
                </div>
            }
        </div>
    </div>
    <div class="modal-footer">
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
