@model CAF.JBS.ViewModels.PolicyCycleDateVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>
<h4>Edit Polis <b>(@Model.policy_no)</b></h4>

<table class="table table-bordered">
    <tr>
        <td>Polis No</td> <td>@Model.policy_no</td>
        <td>Reguler Premium</td> <td>@Model.regular_premium</td>
    </tr>
    <tr>
        <td>Holder</td> <td>@Model.HolderName</td>
        <td>Status</td><td>@Model.Status</td>
    </tr>
    <tr>
        <td>Product</td><td>@Model.product_Name</td>
        <td>Payment Method</td><td>@Model.payment_method</td>
    </tr>
    <tr>
        <td>Commence Date</td><td>@Model.commence_dt.ToString("dd MMM yyyy")</td>
        <td>Payment Frequency</td><td>@Model.premium_mode Month</td>
    </tr>
</table>
<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="policy_Id" />
        <div class="form-group">
            <label asp-for="cycleDate" class="col-md-2 control-label">Cycle Date</label>
            <div class="col-md-10">
                <input asp-for="cycleDate" class="form-control" style="width:70px;"/>
                <span asp-validation-for="cycleDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
