@model CAF.JBS.ViewModels.DownloadBillingVM

@{
    ViewData["Title"] = "Download Billing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $('#BniCC').change(function () {
            if (this.checked) {
                $('#MegaCC').fadeOut('fast');
                $('#MegaCC').checked = false;
            }
            else {
                $('#MegaCC').fadeIn('fast');
                $('#MegaCC').checked = false;
            }
        });

        $('#MegaCC').change(function () {
            if (this.checked) {
                $('#BniCC').fadeOut('fast');
                $('#BniCC').checked = false;
            }
            else {
                $('#BniCC').fadeIn('fast');
                $('#BniCC').checked = false;
            }
        });
    });
</script><br />
<b>
    <i>
        <p class="text-danger">
            @{
                if (TempData["ModelState"] != null)
                {
                    var pesan = (string[])TempData["ModelState"];
                    foreach (var lst in pesan)
                    {
                        @lst <br />
                    }
                }
            }
            @{
                if (TempData["terimaError"] != null)
                {
                    var pesan = (string)TempData["terimaError"];
                        @pesan <br />
                }
            }
        </p>
    </i>
</b>
<b>
    <i>
        <p class="text-success">
            @{
                if (TempData["pesanSukses"] != null)
                {
                    var pesanSukses = (string)TempData["pesanSukses"];
                    @pesanSukses <br />
                }
            }
        </p>
    </i>
</b>

<form asp-action="Download">
    <div class="container" style="margin: auto; padding: 20px;">
        <div class="panel panel-primary" style="margin: auto;width:1100px;">
            <div class="panel-heading">Download Billing</div>
            <div class="panel-body">
                <h4>Billing CC</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="width:250px;">Bank Collector</th>
                        <th>File Billing</th>
                        <th style="width:125px;">Result</th>
                        <th>Jlh Data</th>
                        <th>Total Amount</th>
                    </tr>
                </thead>
                <tr>
                    <td>
                        @{ if (ViewBag.BCACC == null)
                            {
                            <input type="checkbox" asp-for="BcaCC" />
                            } }
                    BCA
                </td>
                <td>
                    <b>
                        @{ if (ViewBag.BCACC != null)
                            {
                                @Html.ActionLink((string)ViewBag.BCACC, "DownloadFile", new { fileName = ViewBag.BCACC });
                            } }
                    </b>
                </td>
                <td>
                    @{ if (ViewBag.BCACC != null) {
                        @Html.ActionLink("Upload", "UploadResult", new { TranCode = "bcacc" });
                        } }
            </td>
            <td style="text-align:right">
                @{ if (ViewBag.BCACC != null)
                    {
                        <b>@Model.BillingSummary[0].TotalCountDWD.Value.ToString("#,###")</b><br>
                        @:Recurring =  @Model.BillingSummary[0].BillingCountDWD.Value.ToString("#,###")<br>
                        @:Others = @Model.BillingSummary[0].OthersCountDWD.Value.ToString("#,###")<br>
                        @: Quote = @Model.BillingSummary[0].QuoteCountDWD.Value.ToString("#,###")
                    } }
                    </td>
            <td style="text-align:right">
                @{ if (ViewBag.BCACC != null)
                    {
                        <b>@Model.BillingSummary[0].TotalAmountDWD.Value.ToString("#,###")</b><br>
                        @:Recurring = @Model.BillingSummary[0].BillingAmountDWD.Value.ToString("#,###")<br>
                        @:Others = @Model.BillingSummary[0].OthersAmountDWD.Value.ToString("#,###")<br>
                        @:Quote = @Model.BillingSummary[0].QuoteAmountDWD.Value.ToString("#,###")
            } }
            </td>
        </tr>

        <tr>
            <td>
                @{ if (ViewBag.MandiriCC == null)
                    {
                    <input type="checkbox" asp-for="MandiriCC" />
                    } } Mandiri
        </td>
        <td>
            <b>
                @{ if (ViewBag.MandiriCC != null)
                    {
                        @Html.ActionLink((string)ViewBag.MandiriCC, "DownloadFile", new { fileName = ViewBag.MandiriCC });
                    } }
            </b>
        </td>
        <td>
            @{ if (ViewBag.MandiriCC != null) {
                @Html.ActionLink("Upload", "UploadResult", new { TranCode = "mandiricc" });
                } }
        </td>
        <td style="text-align:right">
            @{ if (ViewBag.MandiriCC != null) {
                    <b>@Model.BillingSummary[1].TotalCountDWD.Value.ToString("#,###")</b><br>
                    @:Recurring = @Model.BillingSummary[1].BillingCountDWD.Value.ToString("#,###")<br>
                    @:Others = @Model.BillingSummary[1].OthersCountDWD.Value.ToString("#,###")<br>
                    @:Quote = @Model.BillingSummary[1].QuoteCountDWD.Value.ToString("#,###")
                } }
        </td>
        <td style="text-align:right">
            @{ if (ViewBag.MandiriCC != null) {
                <b>@Model.BillingSummary[1].TotalAmountDWD.Value.ToString("#,###")</b><br>
                @:Recurring = @Model.BillingSummary[1].BillingAmountDWD.Value.ToString("#,###")<br>
                @:Others = @Model.BillingSummary[1].OthersAmountDWD.Value.ToString("#,###")<br>
                @:Quote = @Model.BillingSummary[1].QuoteAmountDWD.Value.ToString("#,###")
            } }
        </td>
        </tr>

        <tr>
            <td rowspan="2">
                @{ if (ViewBag.MegaOnUs == null || ViewBag.MegaOfUs == null)
                    {
                    <input type="checkbox" asp-for="MegaCC" />
                    } } Mega
        </td>
        <td>
            <b>
                @{ if (ViewBag.MegaOnUs != null)
                    {
                        @Html.ActionLink((string)ViewBag.MegaOnUs, "DownloadFile", new { fileName = ViewBag.MegaOnUs });
                    }
                }
            </b>
        </td>
        <td>
            @{ if (ViewBag.MegaOnUs != null) {
                    @Html.ActionLink("Upload", "UploadResult", new { TranCode = "megaonus" });
                } }
        </td>
            <td style="text-align:right">
                @{ if (ViewBag.MegaOnUs != null) {
                <b>@Model.BillingSummary[2].TotalCountDWD.Value.ToString("#,###")</b><br>
                @:Recurring = @Model.BillingSummary[2].BillingCountDWD.Value.ToString("#,###")<br>
                @:Others = @Model.BillingSummary[2].OthersCountDWD.Value.ToString("#,###")<br>
                @:Quote = @Model.BillingSummary[2].QuoteCountDWD.Value.ToString("#,###")
                } }
            </td>
            <td style="text-align:right">
                @{ if (ViewBag.MegaOnUs != null) {
                <b>@Model.BillingSummary[2].TotalAmountDWD.Value.ToString("#,###")</b><br>
                    @:Recurring = @Model.BillingSummary[2].BillingAmountDWD.Value.ToString("#,###")<br>
                    @:Others = @Model.BillingSummary[2].OthersAmountDWD.Value.ToString("#,###")<br>
                    @:Quote = @Model.BillingSummary[2].QuoteAmountDWD.Value.ToString("#,###")
                } }
            </td>
        </tr>
        <tr>
            <td>
                <b>
                    @{
                        if (ViewBag.MegaOfUs != null)
                        {
                            @Html.ActionLink((string)ViewBag.MegaOfUs, "DownloadFile", new { fileName = ViewBag.MegaOfUs });
                        }

                    }
                </b>
            </td>
            <td>
                @{ if (ViewBag.MegaOfUs != null) {
                        @Html.ActionLink("Upload", "UploadResult", new { TranCode = "megaoffus" });
                    }
                }
            </td>
            <td style="text-align:right">
                @{ if (ViewBag.MegaOfUs != null) {
                <b>@Model.BillingSummary[3].TotalCountDWD.Value.ToString("#,###")</b><br>
                        @:Recurring = @Model.BillingSummary[3].BillingCountDWD.Value.ToString("#,###")<br>
                        @:Others = @Model.BillingSummary[3].OthersCountDWD.Value.ToString("#,###")<br>
                            @:Quote = @Model.BillingSummary[3].QuoteCountDWD.Value.ToString("#,###")
                                  } }
            </td>
            <td style="text-align:right">
                @{ if (ViewBag.MegaOfUs != null)
                    {
                <b>@Model.BillingSummary[3].TotalAmountDWD.Value.ToString("#,###")</b><br>
                @:Recurring = @Model.BillingSummary[3].BillingAmountDWD.Value.ToString("#,###")<br>
                @:Others = @Model.BillingSummary[3].OthersAmountDWD.Value.ToString("#,###")<br>
                @:Quote = @Model.BillingSummary[3].QuoteAmountDWD.Value.ToString("#,###")
                } }
            </td>
        </tr>

        <tr>
            <td>
                @{ if (ViewBag.BNICC == null)
                    {
                    <input type="checkbox" asp-for="BniCC" />
                    }
            } BNI
        </td>
        <td>
            <b>
                @{ if (ViewBag.BNICC != null)
                    {
                        @Html.ActionLink((string)ViewBag.BNICC, "DownloadFile", new { fileName = ViewBag.BNICC });
                    }
                }
            </b>
        </td>
        <td>
            @{ if (ViewBag.BNICC != null) {
                    @Html.ActionLink("Upload", "UploadResult", new { TranCode = "bnicc" });
                } }
        </td>
            <td style="text-align:right">
                @{ if (ViewBag.BNICC != null) {
                <b>@Model.BillingSummary[4].TotalCountDWD.Value.ToString("#,###")</b><br>
                @:Recurring = @Model.BillingSummary[4].BillingCountDWD.Value.ToString("#,###")<br>
                @:Others = @Model.BillingSummary[4].OthersCountDWD.Value.ToString("#,###")<br>
                @:Quote = @Model.BillingSummary[4].QuoteCountDWD.Value.ToString("#,###")
                } }
            </td>
            <td style="text-align:right">
                @{ if (ViewBag.BNICC != null) {
                <b>@Model.BillingSummary[4].TotalAmountDWD.Value.ToString("#,###")</b><br>
                @:Recurring = @Model.BillingSummary[4].BillingAmountDWD.Value.ToString("#,###")<br>
                @:Others = @Model.BillingSummary[4].OthersAmountDWD.Value.ToString("#,###")<br>
                @:Quote = @Model.BillingSummary[4].QuoteAmountDWD.Value.ToString("#,###")
                } }
            </td>
        </tr>
        </table>

        <h4>Billing AC</h4>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width:250px;">Bank Collector</th>
                    <th>File Billing</th>
                    <th style="width:125px;">Upload Result</th>
                    <th>Jlh Data</th>
                    <th>Total Amount</th>
                </tr>
            </thead>
            <tr>
                <td>
                    @{ if (ViewBag.BcaAC == null)
                        {
                            <input type="checkbox" asp-for="BcaAC" />
                        } } BCA Auto Collection
                </td>
                <td>
                    <b>
                        @{ if (ViewBag.BcaAC != null)
                            {
                            @Html.ActionLink((string)ViewBag.BcaAC, "DownloadFile", new { fileName = ViewBag.BcaAC });
                            }
                    }
                </b>
            </td>
            <td>
                @{ if (ViewBag.BcaAC != null) {
                        @Html.ActionLink("Upload", "UploadResult", new { TranCode = "bcaac" });
                    } }
            </td>
                <td style="text-align:right">
                    @{ if (ViewBag.BcaAC != null)
                        {
                    <b>@Model.BillingSummary[5].TotalCountDWD.Value.ToString("#,###")</b><br>
                    @:Recurring = @Model.BillingSummary[5].BillingCountDWD.Value.ToString("#,###")<br>
                    @:Others = @Model.BillingSummary[5].OthersCountDWD.Value.ToString("#,###")<br>
                    @:Quote = @Model.BillingSummary[5].QuoteCountDWD.Value.ToString("#,###")
                    } }
                </td>
                <td style="text-align:right">
                    @{ if (ViewBag.BcaAC != null) {
                    <b>@Model.BillingSummary[5].TotalAmountDWD.Value.ToString("#,###")</b><br>
                    @:Recurring = @Model.BillingSummary[5].BillingAmountDWD.Value.ToString("#,###")<br>
                    @:Others = @Model.BillingSummary[5].OthersAmountDWD.Value.ToString("#,###")<br>
                    @:Quote = @Model.BillingSummary[5].QuoteAmountDWD.Value.ToString("#,###")
                    } }
                </td>
        </tr>
        <tr>
            <td>
                @{ if (ViewBag.MandiriAC == null)
                    {
                        <input type="checkbox" asp-for="MandiriAC" />
                    } } Mandiri Auto Collection
            </td>
            <td>
                <b>
                    @{ if (ViewBag.MandiriAC != null)
                        {
                            @Html.ActionLink((string)ViewBag.MandiriAC, "DownloadFile", new { fileName = ViewBag.MandiriAC });
                        }
                    }
                </b>
            </td>
            <td>
                @{ if (ViewBag.MandiriAC != null) {
                    @Html.ActionLink("Upload", "UploadResult", new { TranCode = "mandiriac" });
                    } }
        </td>
            <td style="text-align:right">
                @{ if (ViewBag.MandiriAC != null) {
                <b>@Model.BillingSummary[6].TotalCountDWD.Value.ToString("#,###")</b><br>
                @:Recurring = @Model.BillingSummary[6].BillingCountDWD.Value.ToString("#,###")<br>
                @:Others = @Model.BillingSummary[6].OthersCountDWD.Value.ToString("#,###")<br>
                @:Quote = @Model.BillingSummary[6].QuoteCountDWD.Value.ToString("#,###")
                } }
            </td>
            <td style="text-align:right">
                @{ if (ViewBag.MandiriAC != null) {
                <b>@Model.BillingSummary[6].TotalAmountDWD.Value.ToString("#,###")</b><br>
                @:Recurring = @Model.BillingSummary[6].BillingAmountDWD.Value.ToString("#,###")<br>
                @:Others = @Model.BillingSummary[6].OthersAmountDWD.Value.ToString("#,###")<br>
                @:Quote = @Model.BillingSummary[6].QuoteAmountDWD.Value.ToString("#,###")
                } }
            </td>
        </tr>
        </table>

        <h4>Virtual Account</h4>
        <table class="table table-bordered table-striped">
            <tr>
                <td style="width:250px;"> <input type="checkbox" asp-for="BcaRegularPremium" /> BCA Reguler Premium (VA) </td>
                <td>
                    <b>
                        @{ if (ViewBag.VA != null)
                            {
                                @Html.ActionLink((string)ViewBag.VA, "DownloadFile", new { fileName = ViewBag.VA });
                            }
                        }
                    </b>
                </td>
                <td style="width:250px;">@Html.ActionLink("Realtime Result", "UploadResult", new { TranCode = "varealtime" }, new { @class = "btn btn-danger" })
                    @Html.ActionLink("Daily Result", "UploadResult", new { TranCode = "vadaily" }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        </table>
        </div>

            <div class="panel-footer" style="margin: auto; text-align:center; padding: 10px;">
                <input type="submit" value="Create File" class="btn btn-success" />
                <input type="button" value="Recalculate" class="btn btn-primary" onclick="location.href='@Url.Action("Recalculate", "BillingFile")'" />
                <input type="button" value="Reset Data Billing" class="btn btn-danger" onclick="location.href='@Url.Action("reset", "BillingFile")'" />
            </div>
        </div>            
    </div>

</form>