@model List<CAF.JBS.ViewModels.DownloadBillingVM>

@{
    ViewData["Title"] = "Download Billing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $('#BniCC').change(function () {
            if (this.checked) {
                $('#MegaCC').checked = false;
                $('#MegaCC').fadeOut('fast');
                $('#CimbCC').checked = false;
                $('#CimbCC').fadeOut('fast');
            }
            else {
                $('#MegaCC').checked = false;
                $('#MegaCC').fadeIn('fast');
                $('#CimbCC').checked = false;
                $('#CimbCC').fadeIn('fast');
            }
        });
        $('#MegaCC').change(function () {
            if (this.checked) {
                $('#BniCC').checked = false;
                $('#BniCC').fadeOut('fast');
                $('#CimbCC').checked = false;
                $('#CimbCC').fadeOut('fast');
            }
            else {
                $('#BniCC').checked = false;
                $('#BniCC').fadeIn('fast');
                $('#CimbCC').checked = false;
                $('#CimbCC').fadeIn('fast');
            }
        });
        $('#CimbCC').change(function () {
            if (this.checked) {
                $('#BniCC').checked = false;
                $('#BniCC').fadeOut('fast');
                $('#MegaCC').checked = false;
                $('#MegaCC').fadeOut('fast');
            }
            else {
                $('#BniCC').checked = false;
                $('#BniCC').fadeIn('fast');
                $('#MegaCC').checked = false;
                $('#MegaCC').fadeIn('fast');
            }
        });
    });
</script><br />

<form asp-action="Download">
    <div class="container" style="margin: auto; padding: 20px;">
        @Vereyon.Web.FlashMessageHtmlHelper.RenderFlashMessages(Html)
        <div class="panel panel-primary" style="margin: auto;width:1100px;">
            <div class="panel-heading">Download Billing</div>
            <div class="panel-body">
                <h4>Billing CC</h4>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width:150px;">Bank Collector</th>
                            <th style="text-align:center">File Billing</th>
                            <th style="text-align:center;width:150px;">Recurring</th>
                            <th style="text-align:center;width:125px;">Others</th>
                            <th style="text-align:center;width:150px;">Quote</th>
                            <th style="text-align:center;width:175px;">Total</th>
                            @*<th style="width:200px;">Jlh Data</th>*@
                            @*<th style="width:250px;">Total Amount</th>*@
                        </tr>
                    </thead>
                    @{ string group = "";}
                    @foreach (var modelx in Model)
                    {
                        <tr>
                            @if (group != modelx.group_name)
                            {
                                <td rowspan=@modelx.row_span>
                                    @if (modelx.file_download.Trim() == "" && (!(modelx.total_count_billing > 0)))
                                    { @Html.CheckBox(modelx.group_code, false)}
                                    @Html.Label(modelx.group_name)
                                </td>
                            }
                            <td>@Html.ActionLink(modelx.file_download, "DownloadFile", new { fileName = modelx.file_download })</td>
                            <td style="text-align:right">
                                @if (@modelx.recurring_count_billing > 0)
                                {@modelx.recurring_count_billing.ToString("Jlh = #,###")}
                                @if (@modelx.recurring_amount_billing > 0)
                                { <br /> @modelx.recurring_amount_billing.ToString("Rp #,###");
                                }
                            </td>

                            <td style="text-align:right">
                                @if (@modelx.other_count_billing > 0)
                                {@modelx.other_count_billing.ToString("Jlh = #,###")}
                                @if (@modelx.other_amount_billing > 0)
                                { <br /> @modelx.other_amount_billing.ToString("Rp #,###");
                                }
                            </td>

                            <td style="text-align:right">
                                @if (@modelx.quote_count_billing > 0)
                                {@modelx.quote_count_billing.ToString("Jlh = #,###")}
                                @if (@modelx.quote_amount_billing > 0)
                                { <br /> @modelx.quote_amount_billing.ToString("Rp #,###");
                                }
                            </td>

                            <td style="text-align:right">
                                @if (@modelx.total_count_billing > 0)
                                {@modelx.total_count_billing.ToString("Jlh = #,###")}
                                @if (@modelx.total_amount_billing > 0)
                                { <br /> @modelx.total_amount_billing.ToString("Rp #,###");
                                }
                            </td>
                        </tr>
                        group = modelx.group_name;
                    }
                </table>

                <h4>Virtual Account</h4>
                <table class="table table-bordered table-striped">
                    <tr>
                        <td style="width:250px;">BCA Reguler Premium (VA)</td>
                        <td style="text-align:right;">
                            <b>
                                <input type="button" value="Download Data VA" class="btn btn-primary" onclick="location.href='@Url.Action("DownloadVA")'" />
                            </b>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="panel-footer" style="margin: auto; text-align:center; padding: 10px;">
                <input type="submit" value="Create File" class="btn btn-success" onclick="return confirm('Pilihan data download sudah benar ?')" />
                <input type="button" value="Reset Data Billing" class="btn btn-danger" onclick="location.href='@Url.Action("reset", "BillingFile")'" />
            </div>
        </div>
    </div>

</form>