@model CAF.JBS.ViewModels.DownloadBillingVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script language="javascript" type="text/javascript">

    function UploadFileNow() {

        var value = $("#FileUpload2").val();

        if (value != '') {

            $("#form1").submit();

        }

    };
</script>

<form asp-action="Download">
    <div class="container" style="margin: auto; padding: 20px;">
        <div class="panel panel-primary" style="margin: auto;width:700px;">
            <div class="panel-heading">Download Billing</div>
            <div class="panel-body">
                <h4>Billing CC</h4>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width:200px;">Bank Collector</thstyle="width:175px;">
                            <th>File Billing</th>
                            <th style="width:125px;">Upload Result</th>
                        </tr>
                    </thead>
                    <tr>
                        <td><input type="checkbox" asp-for="BcaCC" /> BCA CC</td>
                        <td> <b>  @{ if (ViewBag.BCACC != null)
                                    {
                                        @Html.ActionLink((string)ViewBag.BCACC, "DownloadFile", new { fileName = ViewBag.BCACC });
                                    } } </b>
                        </td>
                        <td>@{ if (ViewBag.BCACC != null)
                            {
                                @Html.ActionLink("Upload", "UploadResult", new { fileName = "masih Kosong" });
                            } }</td>
                    </tr>

                    <tr>
                        <td><input type="checkbox" asp-for="MandiriCC" /> Mandiri CC </td>
                        <td> <b> @{ if (ViewBag.MandiriCC != null)
                                    {
                                        @Html.ActionLink((string)ViewBag.MandiriCC, "DownloadFile", new { fileName = ViewBag.MandiriCC });
                                    } } </b>
                        </td>
                        <td>@{ if (ViewBag.MandiriCC != null)
                            {
                                @Html.ActionLink("Upload", "UploadResult", new { fileName = "masih Kosong" });
                            } }</td>
                    </tr>

                    <tr>
                        <td><input type="checkbox" asp-for="MegaCC" /> Mega CC </td>
                        <td>
                            <b> @{ if (ViewBag.MegaOnUs != null)
                                    {
                                        @Html.ActionLink((string)ViewBag.MegaOnUs, "DownloadFile", new { fileName = ViewBag.MegaOnUs });
                                    }
                                }
                                @{
                                    if (ViewBag.MegaOfUs != null)
                                    {
                                        @Html.ActionLink((string)ViewBag.MegaOfUs, "DownloadFile", new { fileName = ViewBag.MegaOfUs });
                                    }

                                } </b>
                        </td>
                        <td>@{ if (ViewBag.MegaOnUs != null)
                            {
                                @Html.ActionLink("Upload", "UploadResult", new { fileName = "masih Kosong" });
                            }
                        }</td>
                    </tr>

                    <tr>
                        <td><input type="checkbox" asp-for="BniCC" /> BNI CC </td>
                        <td>
                            <b>
                                @{ if (ViewBag.BNICC != null)
                                    {
                                        @Html.ActionLink((string)ViewBag.BNICC, "DownloadFile", new { fileName = ViewBag.BNICC });
                                    }
                                }
                            </b>
                        </td>
                        <td>
                            @{ if (ViewBag.BNICC != null)
                                {
                                    @Html.ActionLink("Upload", "UploadResult", new { fileName = "masih Kosong" });
                                } }
                        </td>
                    </tr>
                </table>
                
                    <h4>Billing AC</h4>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width:200px;">Bank Collector</thstyle="width:175px;">
                                <th>File Billing</th>
                                <th style="width:125px;">Upload Result</th>
                            </tr>
                        </thead>
                        <tr>
                            <td><input type="checkbox" asp-for="BcaAC" /> BCA Auto Collection</td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" asp-for="MandiriAC" /> Mandiri Auto Collection</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                <div class="panel-body">
                    <input type="checkbox" asp-for="BcaRegularPremium" /> BCA Reguler Premium (VA)
                    <br />
                    <input type="checkbox" asp-for="BCAOther" /> BCA Other Payment
                </div>
            </div>
            <div class="panel-footer" style="margin: auto; text-align:center; padding: 10px;">
                <input type="submit" value="Create File" class="btn btn-success" />
            </div>
        </div>            
    </div>

</form>

@{
    var Files = (ViewBag.Files as string[]);

    if (Files != null && Files.Any())
    {
        foreach (var file in Files)
        {
            <br />
            @Html.ActionLink(file, "DownloadFile", new { fileName = file })
            <br />

        }
    }
}